In [ ]:
Problem Set:2
Student id:200513507

In [ ]:
#Question:1

Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [2]:
a = 0
def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

In [ ]:
# Answer:-1

Every time function b() is run, function c() is called, and the value of "a" is increased by 2. a's initial value is 0.The value of "a" is now 6 following three calls to the function b().As a result, 6 is printed.

In [ ]:
# Question:2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [11]:
#answer:2

def fileLength(FilePath):
    try:
        infile = open(FilePath, 'r')
        contents = infile.read()
        infile.close()
        return len(contents)
    except FileNotFoundError:
        print(f"File {FilePath} not found.")
    except:
        print(f"Error reading file {FilePath}.")
        
fileLength("C:/Users/khush/Filelength.txt")

123

In [12]:
fileLength("C:/Users/khush/midterm_ques24")

File C:/Users/khush/midterm_ques24 not found.

In [ ]:
#Question:3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the y-
axis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [14]:
#answer:3
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch
    

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [20]:
#another part of answer:3
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
    
# create a Kangaroo object at location (0, 0)
k = Kangaroo(0, 0)
# display the Kangaroo's location
print(k)

# add items to the Kangaroo's pouch
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

# display the contents of the Kangaroo's pouch
print(k.pouch_contents())  # output: ['doll', 'firetruck', 'kitten']

# move the Kangaroo along the x-axis
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)

# display the Kangaroo's location
print(k)  # output: I am a Kangaroo located at coordinates (3,0)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [ ]:
#Question:4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [22]:
#Answer:4
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

collatz(1)

1

In [23]:
#another part of answer:4

collatz(10)

10
5
16
8
4
2
1

In [ ]:
#question:5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [25]:
#answer:5

def binary(n):
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return binary(n // 2) + str(n % 2)

print(binary(0))  
print(binary(1))  
print(binary(3))  
print(binary(9))

0
1
11
1001

In [ ]:
#question:6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [38]:
#Answer:6

from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self._headings = []

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and tag[1:].isdigit():
            self._headings.append((int(tag[1:]), ''))

    def handle_data(self, data):
        if self._headings:
            level, heading = self._headings[-1]
            self._headings[-1] = (level, heading + data.strip())

    def handle_endtag(self, tag):
        if self._headings:
            level, heading = self._headings.pop()
            print(' ' * level + heading)

with open('w3c.html') as infile:
    content = infile.read()

hp = HeadingParser()
hp.feed(content)

 W3C Mission
  Principles

In [ ]:
#Question:7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [39]:
#answer:7

from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser


class LinkParser(HTMLParser):
    def __init__(self, url):
        super().__init__()
        self.url = url
        self.links = []
    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for name, value in attrs:
                if name == 'href':
                    self.links.append(urljoin(self.url, value))


def webdir(url, depth, indent):
    print(' ' * indent + url)
    if depth == 0:
        return
    try:
        response = urlopen(url)
    except:
        return
    if response.getheader('Content-Type').startswith('text/html'):
        content = response.read().decode()
        parser = LinkParser(url)
        parser.feed(content)
        for link in parser.links:
            webdir(link, depth-1, indent+1)

In [40]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [ ]:
#Question:8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature
(C)
Rainfall
(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [41]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: ipython in c:\users\khush\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Collecting prettytable
  Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.5.post1-cp39-cp39-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 4.6 MB/s eta 0:00:00
Requirement already satisfied: ipython-genutils in c:\users\khush\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     ---------------------------------------- 42.8/42.8 kB ? eta 0:00:00
Requirement already satisfied: six in c:\users\khush\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\khush\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\khush\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\khush\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: pickleshare in c:\users\khush\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\khush\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\khush\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: colorama in c:\users\khush\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\khush\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\khush\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\khush\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\khush\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in c:\users\khush\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: wcwidth in c:\users\khush\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\khush\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.6.0 sqlalchemy-2.0.5.post1 sqlparse-0.4.3

In [42]:
import sqlite3
con = sqlite3.connect('cInfo.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS cityInfo (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO cityInfo VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO cityInfo VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO cityInfo VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

cur.execute('SELECT * FROM cityInfo')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [44]:
cur.execute('SELECT DISTINCT(City) FROM cityInfo')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [45]:
cur.execute('SELECT * FROM cityInfo where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [46]:
cur.execute('SELECT * from cityInfo where Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [47]:
cur.execute('SELECT City,Country,Season, AVG(Rainfall) FROM cityInfo GROUP BY City, Country, Season having AVG(Rainfall)>200 and AVG(Rainfall)<400 ')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [48]:
cur.execute('SELECT City, Country, AVG(Temperature) FROM cityInfo where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

In [49]:
cur.execute('SELECT SUM(Rainfall) FROM cityInfo WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

In [50]:
cur.execute('SELECT Season, SUM(Rainfall) FROM cityInfo GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [1]:
#question:9

Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

SyntaxError: invalid syntax (3657036803.py, line 3)

In [2]:
#answer:9
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

print([x.upper() for x in words])
print([x.lower() for x in words])

# Printing the list of lengths of words in list words
print([len(x) for x in words])

# Printing the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.
print([[x.upper(), x.lower(), len(x)] for x in words])

# Printing he list of words in list words containing 4 or more characters.
print([x for x in words if len(x)>=4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']